html {
    height: 3000px;
}

.btn {
    background-color: antiquewhite;
}

.btn:hover {
    background-color: rgb(184, 184, 184);
}

.btn:active {
    background-color: rgb(43, 43, 43);
}
